﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div>
    <h1 class="display-4">Welcome</h1>


    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input class="form-control" aria-describedby="emailHelp" placeholder="Enter username" id="username" value="admin">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="password" value="password">
    </div>
    <button type="submit" class="btn btn-primary" id="getData">Show Data</button>
    <div class="alert alert-danger" style="display:none" role="alert" id="error">
        This is a danger alert—check it out!
    </div>
</div>




<div id="grid"></div>
<script>
    const loginServer = "https://localhost:7268";
    const orderAPI = "https://localhost:7025";
    var token = "";
    window.onload = function () {

        $("#getData").click(function () {
            $.ajax({
                url: loginServer + "/api/User",
                type: "POST",
                headers: {
                    "Content-Type": 'application/json'
                },
                data: JSON.stringify({
                    "username": $("#username").val(),
                    "password": $("#password").val()
                }),
                success: function (result) {
                    token = result.token;
                    loadGrid();
                },
                error: function (result) {
                    $("#error").show().text(result.responseText);
                    $("#grid").hide();
                }
            });
        });

        function loadGrid() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: orderAPI + "/WeatherForecast",
                            headers: {
                                Authorization: 'Bearer ' + token
                            },
                            success: function (result) {
                                options.success(result);
                                $("#grid").show();
                                $("#error").hide();
                            },
                            error: function (result) {
                                options.error(result);
                            }
                        });
                    }
                }
            });
            $("#grid").kendoGrid({
                columns: [
                    { field: "date" },
                    { field: "temperatureC" },
                    { field: "temperatureF" },
                    { field: "summary" }
                ],
                pageable: true,
                dataSource: dataSource
            });
        }
    };
</script>
